<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/triptracker</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">R@dha01kanh@</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="com.springMVC.pojo.Trip"/>
    <mapping class="com.springMVC.pojo.TripActivity"/>
    <mapping class="com.springMVC.pojo.City"/>
    <mapping class="com.springMVC.pojo.Hotel"/>
    <mapping class="com.springMVC.pojo.Activity"/>
    <mapping class="com.springMVC.pojo.Traveler"/>
    <mapping class="com.springMVC.pojo.User"/>
  </session-factory>
</hibernate-configuration>
