# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\INFO6250\HW4\finalProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
